.formSearch {
  width: 40%;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
}

.inputSearch {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 2px;
  outline: none;
  color: #1E5945;
}

.btn {
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
form>button:before {
  content: '🔍';
  font-size: 16px;
  color: #1E5945;
}