.card {
  width: 250px;
  height: 300px;
  border: 1px solid #1E5945;
  cursor: pointer;
  transition: 0.3s;
}

.cardWrapper {
  padding: 43px 21px 36px 21px;
}

.cardContainer {
  text-decoration: none;
  color: #1E5945;
  cursor: pointer;
  transition: 0.3s;
}
.cardContainer:hover {
  opacity: 0.5;
}

.cardImage {
  width: 270px;
  height: 271px;
  margin-bottom: 30px;
}

.cardTitle {
  height: 42px;
  font-family: Montserrat-Medium;
  font-size: 17px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 8px;
}

.btn {
  margin-top: 20px;
  border: 2px solid #1E5945;
  color: #1E5945;
  border-radius: 50px;
  width: 130px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}